In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("Preprocessed ICU data.csv")
df.head()

,RecordID,Age,Gender,Height,ICUType2,ICUType3,ICUType4,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,...,Max_ALT.y,Max_AST.y,Max_Bilirubin.y,Max_Lactate.y,Max_Cholesterol.y,Max_TroponinI.y,Max_TroponinT.y,SAPS.I,SOFA,In.hospital_death
0,132543,68,1.0,180.300000,0,1,0,84.600000,14.888889,72.971429,...,12.000000,15.000000,0.200000,2.395461,156.842105,7.132683,1.114629,7,1,0
1,132545,88,0.0,169.787227,0,1,0,83.054136,15.000000,79.520000,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,17,2,0
2,132547,64,1.0,180.300000,0,0,0,114.000000,8.333333,81.318182,...,60.000000,162.000000,0.400000,2.395461,212.000000,1.300000,1.114629,14,11,0
3,132551,78,0.0,162.600000,0,1,0,48.400000,13.250000,78.125000,...,46.000000,82.000000,0.300000,2.300000,156.842105,3.500000,1.114629,19,8,1
4,132554,64,0.0,169.787227,0,1,0,60.700000,15.000000,129.363636,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,11,0,0

In [7]:
df_x  = df.filter(regex="x$", axis = 1)
df_y  = df.filter(regex="y$", axis = 1)

df_x.head()

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Max_SaO2.x,Max_Albumax.x,Max_ALP.x,Max_ALT.x,Max_AST.x,Max_Bilirubin.x,Max_Lactate.x,Max_Cholesterol.x,Max_TroponinI.x,Max_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,97.487151,4.400000,105.00000,12.000000,15.000000,0.200000,2.984208,156.684211,8.147317,1.271183
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,97.487151,3.300000,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,97.000000,3.009175,101.00000,60.000000,162.000000,0.400000,2.984208,212.000000,1.300000,1.271183
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,97.000000,1.900000,47.00000,46.000000,82.000000,0.300000,2.000000,156.684211,3.500000,1.271183
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,97.487151,3.009175,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183

In [9]:
df_mean_x = df_x.filter(like="Mean_")

df_mean_x.head()

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Mean_SaO2.x,Mean_Albumin.x,Mean_ALP.x,Mean_ALT.x,Mean_AST.x,Mean_Bilirubin.x,Mean_Lactate.x,Mean_Cholesterol.x,Mean_TroponinI.x,Mean_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,96.668750,4.400000,105.000000,12.000000,15.000000,0.200000,2.413805,156.569079,7.17187,1.098319
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,96.668750,3.300000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,96.333333,2.983815,101.000000,52.500000,104.500000,0.400000,2.413805,212.000000,1.30000,1.098319
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,95.500000,1.900000,47.000000,46.000000,82.000000,0.300000,1.500000,156.569079,3.30000,1.098319
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319

In [11]:
X = df_mean_x #USE THIS FOR X 

y = df["In.hospital_death"] #USE THIS FOR Y

y

0       0
1       0
2       0
3       1
4       0
       ..
1469    0
1470    0
1471    0
1472    0
1473    1
Name: In.hospital_death, Length: 1474, dtype: int64

In [13]:
X

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Mean_SaO2.x,Mean_Albumin.x,Mean_ALP.x,Mean_ALT.x,Mean_AST.x,Mean_Bilirubin.x,Mean_Lactate.x,Mean_Cholesterol.x,Mean_TroponinI.x,Mean_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,96.668750,4.400000,105.000000,12.000000,15.000000,0.200000,2.413805,156.569079,7.17187,1.098319
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,96.668750,3.300000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,96.333333,2.983815,101.000000,52.500000,104.500000,0.400000,2.413805,212.000000,1.30000,1.098319
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,95.500000,1.900000,47.000000,46.000000,82.000000,0.300000,1.500000,156.569079,3.30000,1.098319
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,60.041667,82.788333,128.291667,19.565217,37.000000,116.470588,12.5,...,96.668750,3.600000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
1470,53.000000,13.000000,85.517241,40.576271,67.541695,121.474576,19.666415,37.166667,67.142857,57.0,...,96.668750,2.600000,192.000000,35.000000,37.000000,1.100000,2.413805,156.569079,7.17187,1.098319
1471,75.000000,9.909091,91.147059,57.213827,75.982764,116.454270,19.666415,36.812500,120.318182,9.5,...,98.000000,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
1472,87.000000,10.833333,101.083333,60.400000,75.733000,106.400000,19.666415,36.642857,57.823529,14.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.475000,156.569079,7.17187,1.098319
1473,87.400000,6.400000,91.785714,57.213827,75.982764,116.454270,19.666415,38.814286,5.333333,81.0,...,96.668750,3.100000,174.500000,2200.000000,1889.500000,0.800000,1.900000,156.569079,7.17187,1.098319

### Feature discovery using modeling

From here on out use the modelling technique tasked to you. Look at the notebooks provided by data science and basically copy what they do.

Step1 : import all libraries required 

Step2 : do train test split 

Step3 : train the model and find y pred 

Step4 : Create confusion matrix to find precision and recall 

Step5 : find the feature importance and rank them based on lvl of importance

Step6 : repeat training of model like 5 - 10 times using different random states and check if all features are still same rankish 

Step7 : do research into each of the top 10 features and try to find whether min, max, mean is more appropriate 


Thats it ty

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import confusion_matrix, precision_score, recall_score

df = pd.read_csv("Preprocessed ICU data.csv")

y = df["In.hospital_death"]
X = df.drop(columns=["In.hospital_death"])

def is_icu_type_234(col):
    c = col.strip().lower().replace(" ", "")
    return (c.startswith("icutype") or c.startswith("icu_type")) and c[-1:] in {"2", "3", "4"}

cols_to_drop = [c for c in X.columns if is_icu_type_234(c)]
if cols_to_drop:
    X = X.drop(columns=cols_to_drop, errors="ignore")

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

model = LogisticRegression(max_iter=1000, solver="liblinear")

n_features_to_keep = max(1, int(X.shape[1] * 0.25))
selector = RFE(estimator=model, n_features_to_select=n_features_to_keep)
selector.fit(X_train, y_train)

y_pred = selector.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
prec = precision_score(y_test, y_pred, zero_division=0)
rec = recall_score(y_test, y_pred, zero_division=0)

selected_mask = selector.support_
selected_features = X.columns[selected_mask]

model_selected = LogisticRegression(max_iter=1000, solver="liblinear")
model_selected.fit(X_train[selected_features], y_train)

coefs = np.abs(model_selected.coef_).ravel()
importance_df = pd.DataFrame({
    "feature": selected_features,
    "importance": coefs
}).sort_values("importance", ascending=False).reset_index(drop=True)

top_k = min(10, len(importance_df))
final_top10 = importance_df.head(top_k).copy()

print("\nFinal Top 10 Features")
print(final_top10.to_string(index=False))

all_rankings = []
for seed in range(10):
    Xtr, Xte, ytr, yte = train_test_split(X, y, test_size=0.3, random_state=seed, stratify=y)
    sel = RFE(estimator=LogisticRegression(max_iter=1000, solver="liblinear"),
              n_features_to_select=n_features_to_keep)
    sel.fit(Xtr, ytr)
    ranking = pd.DataFrame({
        "feature": X.columns,
        "ranking": sel.ranking_,
        "random_state": seed
    })
    all_rankings.append(ranking)

rankings_df = pd.concat(all_rankings, ignore_index=True)
stability = (rankings_df.groupby("feature")["ranking"]
             .apply(lambda x: (x == 1).sum())
             .sort_values(ascending=False))
try:
    from IPython.display import display
    display(final_top10)
except:
    pass

Final Top 10 Features
      feature  importance
Min_Albumin.x    1.148414
  Mean_FiO2.x    1.029969
Max_Albumax.x    0.828940
   Min_FiO2.y    0.779195
    Mean_pH.x    0.775290
   Max_FiO2.x    0.754143
     Max_pH.x    0.613784
   Mean_ALP.y    0.613547
     Min_Mg.y    0.565828
Min_Albumin.y    0.543181

In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import confusion_matrix, precision_score, recall_score

df = pd.read_csv("Preprocessed ICU data.csv")

y = df["In.hospital_death"]
X = df.drop(columns=["In.hospital_death"])

def drop_icu_234(col):
    s = col.strip().lower().replace(" ", "")
    return (s.startswith("icutype") or s.startswith("icu_type")) and s[-1:] in {"2", "3", "4"}

cols = [c for c in X.columns if drop_icu_234(c)]
if cols:
    X = X.drop(columns=cols, errors="ignore")

X = X.select_dtypes(include=[np.number])
if X.isna().any().any():
    X = X.fillna(X.median(numeric_only=True))

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

clf = LogisticRegression(max_iter=1000, solver="liblinear")
k = max(1, int(X.shape[1] * 0.25))
rfe = RFE(estimator=clf, n_features_to_select=k, step=1)
rfe.fit(X_train, y_train)

y_pred = rfe.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
prec = precision_score(y_test, y_pred, zero_division=0)
rec = recall_score(y_test, y_pred, zero_division=0)

print("Confusion Matrix:\n", cm)
print(f"Precision: {prec:.3f}")
print(f"Recall:    {rec:.3f}")

sel_feats = X.columns[rfe.support_]
clf_sel = LogisticRegression(max_iter=1000, solver="liblinear")
clf_sel.fit(X_train[sel_feats], y_train)

imp = np.abs(clf_sel.coef_).ravel()
imp_df = (
    pd.DataFrame({"Feature": sel_feats, "Importance": imp})
    .sort_values("Importance", ascending=False, kind="mergesort")
    .reset_index(drop=True)
)

def top10_prefix_x(df_imp, prefix, all_cols):
    pat = rf"(?i)^{prefix}_"
    picked = df_imp[
        df_imp["Feature"].str.contains(pat, regex=True, na=False)
        & df_imp["Feature"].str.endswith(".x", na=False)
    ].copy()
    if len(picked) < 10:
        candidates = [c for c in all_cols if isinstance(c, str) and c.endswith(".x") and pd.Series([c]).str.contains(pat, regex=True, na=False).iloc[0]]
        missing = [c for c in candidates if c not in set(picked["Feature"])]
        if missing:
            picked = pd.concat([picked, pd.DataFrame({"Feature": missing, "Importance": 0.0})], ignore_index=True)
    return picked.head(10)

t_max  = top10_prefix_x(imp_df, "max",  X.columns)
t_mean = top10_prefix_x(imp_df, "mean", X.columns)
t_min  = top10_prefix_x(imp_df, "min",  X.columns)

def show(df_tbl, title):
    if df_tbl.empty:
        print(f"\n{title}\n(no matching .x features found)")
        return
    try:
        from IPython.display import display
        display(df_tbl.style.hide(axis="index").format({"Importance": "{:.3f}"}).set_caption(title))
    except:
        print(f"\n{title}")
        print(df_tbl.to_string(index=False))

show(t_max,  "Top 10 â€” MAX (.x) Features by Importance")
show(t_mean, "Top 10 â€” MEAN (.x) Features by Importance")
show(t_min,  "Top 10 â€” MIN (.x) Features by Importance")

Confusion Matrix:
 [[220  56]
 [ 91  76]]
Precision: 0.576
Recall:    0.455