In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("Preprocessed ICU data.csv")
df.head()

,RecordID,Age,Gender,Height,ICUType2,ICUType3,ICUType4,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,...,Max_ALT.y,Max_AST.y,Max_Bilirubin.y,Max_Lactate.y,Max_Cholesterol.y,Max_TroponinI.y,Max_TroponinT.y,SAPS.I,SOFA,In.hospital_death
0,132543,68,1.0,180.300000,0,1,0,84.600000,14.888889,72.971429,...,12.000000,15.000000,0.200000,2.395461,156.842105,7.132683,1.114629,7,1,0
1,132545,88,0.0,169.787227,0,1,0,83.054136,15.000000,79.520000,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,17,2,0
2,132547,64,1.0,180.300000,0,0,0,114.000000,8.333333,81.318182,...,60.000000,162.000000,0.400000,2.395461,212.000000,1.300000,1.114629,14,11,0
3,132551,78,0.0,162.600000,0,1,0,48.400000,13.250000,78.125000,...,46.000000,82.000000,0.300000,2.300000,156.842105,3.500000,1.114629,19,8,1
4,132554,64,0.0,169.787227,0,1,0,60.700000,15.000000,129.363636,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,11,0,0

In [ ]:
df_x  = df.filter(regex="x$", axis = 1)
df_y  = df.filter(regex="y$", axis = 1)

df_x.head()

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Max_SaO2.x,Max_Albumax.x,Max_ALP.x,Max_ALT.x,Max_AST.x,Max_Bilirubin.x,Max_Lactate.x,Max_Cholesterol.x,Max_TroponinI.x,Max_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,97.487151,4.400000,105.00000,12.000000,15.000000,0.200000,2.984208,156.684211,8.147317,1.271183
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,97.487151,3.300000,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,97.000000,3.009175,101.00000,60.000000,162.000000,0.400000,2.984208,212.000000,1.300000,1.271183
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,97.000000,1.900000,47.00000,46.000000,82.000000,0.300000,2.000000,156.684211,3.500000,1.271183
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,97.487151,3.009175,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183

In [33]:
df_mean_x = df_x.filter(like="Mean_")

df_mean_x.head()

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Mean_SaO2.x,Mean_Albumin.x,Mean_ALP.x,Mean_ALT.x,Mean_AST.x,Mean_Bilirubin.x,Mean_Lactate.x,Mean_Cholesterol.x,Mean_TroponinI.x,Mean_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,96.668750,4.400000,105.000000,12.000000,15.000000,0.200000,2.413805,156.569079,7.17187,1.098319
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,96.668750,3.300000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,96.333333,2.983815,101.000000,52.500000,104.500000,0.400000,2.413805,212.000000,1.30000,1.098319
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,95.500000,1.900000,47.000000,46.000000,82.000000,0.300000,1.500000,156.569079,3.30000,1.098319
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319

In [34]:
X = df_mean_x #USE THIS FOR X 

y = df["In.hospital_death"] #USE THIS FOR Y

y

0       0
1       0
2       0
3       1
4       0
       ..
1469    0
1470    0
1471    0
1472    0
1473    1
Name: In.hospital_death, Length: 1474, dtype: int64

In [35]:
X

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Mean_SaO2.x,Mean_Albumin.x,Mean_ALP.x,Mean_ALT.x,Mean_AST.x,Mean_Bilirubin.x,Mean_Lactate.x,Mean_Cholesterol.x,Mean_TroponinI.x,Mean_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,96.668750,4.400000,105.000000,12.000000,15.000000,0.200000,2.413805,156.569079,7.17187,1.098319
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,96.668750,3.300000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,96.333333,2.983815,101.000000,52.500000,104.500000,0.400000,2.413805,212.000000,1.30000,1.098319
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,95.500000,1.900000,47.000000,46.000000,82.000000,0.300000,1.500000,156.569079,3.30000,1.098319
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,60.041667,82.788333,128.291667,19.565217,37.000000,116.470588,12.5,...,96.668750,3.600000,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
1470,53.000000,13.000000,85.517241,40.576271,67.541695,121.474576,19.666415,37.166667,67.142857,57.0,...,96.668750,2.600000,192.000000,35.000000,37.000000,1.100000,2.413805,156.569079,7.17187,1.098319
1471,75.000000,9.909091,91.147059,57.213827,75.982764,116.454270,19.666415,36.812500,120.318182,9.5,...,98.000000,2.983815,105.170986,165.109754,238.525354,1.881972,2.413805,156.569079,7.17187,1.098319
1472,87.000000,10.833333,101.083333,60.400000,75.733000,106.400000,19.666415,36.642857,57.823529,14.0,...,96.668750,2.983815,105.170986,165.109754,238.525354,1.881972,2.475000,156.569079,7.17187,1.098319
1473,87.400000,6.400000,91.785714,57.213827,75.982764,116.454270,19.666415,38.814286,5.333333,81.0,...,96.668750,3.100000,174.500000,2200.000000,1889.500000,0.800000,1.900000,156.569079,7.17187,1.098319

### Feature discovery using modeling

From here on out use the modelling technique tasked to you. Look at the notebooks provided by data science and basically copy what they do.

Step1 : import all libraries required 

Step2 : do train test split 

Step3 : train the model and find y pred 

Step4 : Create confusion matrix to find precision and recall 

Step5 : find the feature importance and rank them based on lvl of importance

Step6 : repeat training of model like 5 - 10 times using different random states and check if all features are still same rankish 

Step7 : do research into each of the top 10 features and try to find whether min, max, mean is more appropriate 


Thats it ty

### TEST1

In [36]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import precision_score, recall_score



X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf_1 = RandomForestClassifier(n_estimators=100).fit(X_train, y_train)
Y_pred1 = clf_1.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred1),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred1),3)))


# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_1 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_1.feature_importances_
})

# Sort by importance
feature_importances_1 = feature_importances_1.sort_values(by="importance", ascending=False)

feature_importances_1.head(10)

Accuracy 0.675
Recall 0.388

             feature  importance
1         Mean_GCS.x    0.065316
2          Mean_HR.x    0.042905
23       Mean_FiO2.x    0.042725
20      Mean_PaCO2.x    0.042677
12       Mean_HCO3.x    0.040146
15  Mean_Platelets.x    0.035874
8       Mean_Urine.x    0.034533
21       Mean_PaO2.x    0.034471
7        Mean_Temp.x    0.032837
9         Mean_BUN.x    0.032803

### Test2

In [37]:
clf_2 = RandomForestClassifier(n_estimators=100, random_state= 10).fit(X_train, y_train)
Y_pred2 = clf_2.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred2),3)))
# loop over all the names and feature importance and print both
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred2),3)))


# Put feature importances into a DataFrame
feature_importances_2 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_2.feature_importances_
})

# Sort by importance
feature_importances_2 = feature_importances_2.sort_values(by="importance", ascending=False)

feature_importances_2.head(10)

Accuracy 0.675
Recall 0.388

             feature  importance
1         Mean_GCS.x    0.068769
12       Mean_HCO3.x    0.045822
23       Mean_FiO2.x    0.039026
2          Mean_HR.x    0.038826
20      Mean_PaCO2.x    0.037135
15  Mean_Platelets.x    0.034912
9         Mean_BUN.x    0.034903
8       Mean_Urine.x    0.033795
7        Mean_Temp.x    0.033434
19         Mean_pH.x    0.033062

### TEST3

In [38]:
clf_3 = RandomForestClassifier(n_estimators=100, random_state= 42).fit(X_train, y_train)
Y_pred3 = clf_3.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred3),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred3),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_3 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_3.feature_importances_
})

# Sort by importance
feature_importances_3 = feature_importances_3.sort_values(by="importance", ascending=False)

feature_importances_3.head(10)

Accuracy 0.692
Recall 0.408

             feature  importance
1         Mean_GCS.x    0.065549
2          Mean_HR.x    0.042949
12       Mean_HCO3.x    0.042276
23       Mean_FiO2.x    0.039654
15  Mean_Platelets.x    0.037668
7        Mean_Temp.x    0.036563
20      Mean_PaCO2.x    0.034855
18        Mean_WBC.x    0.034386
8       Mean_Urine.x    0.033969
33    Mean_Lactate.x    0.032778

### TEST4

In [39]:
clf_4 = RandomForestClassifier(n_estimators=100, random_state= 45).fit(X_train, y_train)
Y_pred4 = clf_4.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred4),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred4),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_4 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_4.feature_importances_
})

# Sort by importance
feature_importances_4 = feature_importances_4.sort_values(by="importance", ascending=False)

feature_importances_4.head(10)

Accuracy 0.664
Recall 0.379

             feature  importance
1         Mean_GCS.x    0.065164
20      Mean_PaCO2.x    0.044131
2          Mean_HR.x    0.041749
23       Mean_FiO2.x    0.041286
15  Mean_Platelets.x    0.040316
12       Mean_HCO3.x    0.040080
11    Mean_Glucose.x    0.034578
26     Mean_SysABP.x    0.033864
19         Mean_pH.x    0.033502
8       Mean_Urine.x    0.033314

### TEST5

In [40]:
clf_5 = RandomForestClassifier(n_estimators=100, random_state= 101).fit(X_train, y_train)
Y_pred5 = clf_5.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred5),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred5),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_5 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_5.feature_importances_
})

# Sort by importance
feature_importances_5 = feature_importances_5.sort_values(by="importance", ascending=False)

feature_importances_5.head(10)

Accuracy 0.675
Recall 0.398

             feature  importance
1         Mean_GCS.x    0.068277
12       Mean_HCO3.x    0.043039
23       Mean_FiO2.x    0.040285
20      Mean_PaCO2.x    0.039940
2          Mean_HR.x    0.038615
15  Mean_Platelets.x    0.037775
11    Mean_Glucose.x    0.034447
8       Mean_Urine.x    0.034347
18        Mean_WBC.x    0.033681
26     Mean_SysABP.x    0.033531

## TRYING WITH last 48hr

In [41]:
df_mean_y = df_y.filter(like="Mean_")
X = df_mean_y #USE THIS FOR X 

y = df["In.hospital_death"] #USE THIS FOR Y

X

,Mean_Weight.y,Mean_GCS.y,Mean_HR.y,Mean_NIDiasABP.y,Mean_NIMAP.y,Mean_NISysABP.y,Mean_RespRate.y,Mean_Temp.y,Mean_Urine.y,Mean_BUN.y,...,Mean_SaO2.y,Mean_Albumin.y,Mean_ALP.y,Mean_ALT.y,Mean_AST.y,Mean_Bilirubin.y,Mean_Lactate.y,Mean_Cholesterol.y,Mean_TroponinI.y,Mean_TroponinT.y
0,84.600000,15.000000,68.200000,63.750000,82.375417,119.625000,15.000000,36.233333,625.000000,10.0,...,96.462123,4.400000,105.000000,12.000000,15.000000,0.20000,2.08742,156.726974,6.592276,1.025698
1,83.308061,15.000000,70.000000,42.272727,71.317727,129.409091,18.565217,36.640000,64.722222,25.0,...,96.462123,3.300000,104.177403,178.687645,236.484503,1.92985,2.08742,156.726974,6.592276,1.025698
2,114.000000,8.888889,94.880000,70.500000,81.985000,105.000000,19.648290,37.816667,68.888889,16.5,...,98.000000,2.955651,101.000000,52.500000,104.500000,0.40000,2.08742,212.000000,1.300000,1.025698
3,48.400000,9.600000,65.341463,33.523810,55.888571,100.619048,19.648290,36.980000,36.000000,58.0,...,97.000000,1.900000,47.000000,46.000000,82.000000,0.30000,2.05000,156.726974,3.300000,1.025698
4,60.700000,15.000000,125.291667,63.583333,83.443333,123.166667,34.500000,36.760000,250.000000,23.0,...,96.462123,2.955651,104.177403,178.687645,236.484503,1.92985,2.08742,156.726974,6.592276,1.025698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,10.777778,85.833333,61.166667,87.071667,138.888889,19.555556,36.825000,159.062500,14.0,...,96.462123,3.600000,104.177403,178.687645,236.484503,1.92985,2.08742,156.726974,6.592276,1.025698
1470,53.000000,14.666667,77.869565,45.750000,71.499500,123.000000,19.648290,36.716667,71.545455,69.0,...,96.462123,2.600000,155.000000,28.000000,35.000000,0.90000,2.08742,156.726974,6.592276,1.025698
1471,75.000000,10.000000,102.458333,57.441366,76.579340,117.843210,19.648290,37.250000,154.583333,15.0,...,98.000000,2.955651,104.177403,178.687645,236.484503,1.92985,2.08742,156.726974,6.592276,1.025698
1472,87.000000,14.750000,97.642857,68.100000,85.967000,121.700000,19.648290,37.185714,45.318182,18.0,...,96.462123,2.955651,104.177403,178.687645,236.484503,1.92985,1.10000,156.726974,6.592276,1.025698
1473,87.400000,4.333333,84.583333,57.441366,76.579340,117.843210,19.648290,37.725000,24.500000,114.0,...,96.462123,3.100000,158.000000,1513.000000,1277.000000,0.60000,1.90000,156.726974,6.592276,1.025698

### TEST1

In [42]:

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf_1 = RandomForestClassifier(n_estimators=100).fit(X_train, y_train)
Y_pred1 = clf_1.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred1),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred1),3)))


# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_1 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_1.feature_importances_
})

# Sort by importance
feature_importances_1 = feature_importances_1.sort_values(by="importance", ascending=False)

feature_importances_1.head(10)

Accuracy 0.702
Recall 0.408

             feature  importance
1         Mean_GCS.y    0.113445
2          Mean_HR.y    0.039092
18        Mean_WBC.y    0.039052
8       Mean_Urine.y    0.036614
20      Mean_PaCO2.y    0.035911
21       Mean_PaO2.y    0.034970
9         Mean_BUN.y    0.034910
7        Mean_Temp.y    0.033290
15  Mean_Platelets.y    0.032454
26     Mean_SysABP.y    0.032394

### TEST2

In [43]:
clf_2 = RandomForestClassifier(n_estimators=100, random_state= 10).fit(X_train, y_train)
Y_pred2 = clf_2.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred2),3)))
# loop over all the names and feature importance and print both
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred2),3)))


# Put feature importances into a DataFrame
feature_importances_2 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_2.feature_importances_
})

# Sort by importance
feature_importances_2 = feature_importances_2.sort_values(by="importance", ascending=False)

feature_importances_2.head(10)

Accuracy 0.725
Recall 0.495

             feature  importance
1         Mean_GCS.y    0.108882
18        Mean_WBC.y    0.041703
8       Mean_Urine.y    0.039978
2          Mean_HR.y    0.038762
33    Mean_Lactate.y    0.037156
11    Mean_Glucose.y    0.035810
7        Mean_Temp.y    0.034044
20      Mean_PaCO2.y    0.033912
15  Mean_Platelets.y    0.033635
21       Mean_PaO2.y    0.032519

### TEST3

In [44]:

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf_3 = RandomForestClassifier(n_estimators=100, random_state= 42).fit(X_train, y_train)
Y_pred3 = clf_3.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred3),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred3),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_3 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_3.feature_importances_
})

# Sort by importance
feature_importances_3 = feature_importances_3.sort_values(by="importance", ascending=False)

feature_importances_3.head(10)

Accuracy 0.719
Recall 0.456

             feature  importance
1         Mean_GCS.y    0.113492
18        Mean_WBC.y    0.040704
2          Mean_HR.y    0.039413
33    Mean_Lactate.y    0.037763
8       Mean_Urine.y    0.037322
20      Mean_PaCO2.y    0.034084
15  Mean_Platelets.y    0.033927
21       Mean_PaO2.y    0.033359
7        Mean_Temp.y    0.033006
9         Mean_BUN.y    0.032204

### TEST4

In [45]:
clf_4 = RandomForestClassifier(n_estimators=100, random_state= 45).fit(X_train, y_train)
Y_pred4 = clf_4.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred4),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred4),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_4 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_4.feature_importances_
})

# Sort by importance
feature_importances_4 = feature_importances_4.sort_values(by="importance", ascending=False)

feature_importances_4.head(10)

Accuracy 0.705
Recall 0.437

             feature  importance
1         Mean_GCS.y    0.111994
8       Mean_Urine.y    0.043313
18        Mean_WBC.y    0.040047
20      Mean_PaCO2.y    0.035778
15  Mean_Platelets.y    0.035393
2          Mean_HR.y    0.034917
21       Mean_PaO2.y    0.033035
12       Mean_HCO3.y    0.032768
7        Mean_Temp.y    0.032071
11    Mean_Glucose.y    0.031940

### TEST5

In [46]:
clf_5 = RandomForestClassifier(n_estimators=100, random_state= 101).fit(X_train, y_train)
Y_pred5 = clf_5.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred5),3)))
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred5),3)))

# loop over all the names and feature importance and print both


# Put feature importances into a DataFrame
feature_importances_5 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_5.feature_importances_
})

# Sort by importance
feature_importances_5 = feature_importances_5.sort_values(by="importance", ascending=False)

feature_importances_5.head(10)

Accuracy 0.712
Recall 0.437

             feature  importance
1         Mean_GCS.y    0.111044
8       Mean_Urine.y    0.040660
18        Mean_WBC.y    0.039914
2          Mean_HR.y    0.035857
20      Mean_PaCO2.y    0.034795
15  Mean_Platelets.y    0.034163
7        Mean_Temp.y    0.033948
11    Mean_Glucose.y    0.033167
12       Mean_HCO3.y    0.033140
21       Mean_PaO2.y    0.032349

## TRYING WITH MIN

In [49]:
df_x  = df.filter(regex="x$", axis = 1)
df_y  = df.filter(regex="y$", axis = 1)

df_min_x = df_x.filter(like="Min_")


X = df_min_x #USE THIS FOR X 

y = df["In.hospital_death"] #USE THIS FOR Y

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


clf_2 = RandomForestClassifier(n_estimators=100, random_state= 10).fit(X_train, y_train)
Y_pred2 = clf_2.predict(X_test)  # calculate the predicted values
# print the accuracy of the RFC
print('Accuracy {0}'.format(np.round(accuracy_score(y_test, Y_pred2),3)))
# loop over all the names and feature importance and print both
print('Recall {0}'.format(np.round(recall_score(y_test, Y_pred2),3)))


# Put feature importances into a DataFrame
feature_importances_2 = pd.DataFrame({
    'feature': X_train.columns,
    'importance': clf_2.feature_importances_
})

# Sort by importance
feature_importances_2 = feature_importances_2.sort_values(by="importance", ascending=False)

feature_importances_2.head(10)

Accuracy 0.678
Recall 0.359

            feature  importance
19         Min_pH.x    0.051350
12       Min_HCO3.x    0.046898
33    Min_Lactate.x    0.043550
15  Min_Platelets.x    0.041207
21       Min_PaO2.x    0.040396
2          Min_HR.x    0.037470
9         Min_BUN.x    0.036469
18        Min_WBC.x    0.036454
20      Min_PaCO2.x    0.035550
7        Min_Temp.x    0.035270

## IDK

In [54]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, recall_score

# --- Load & target
df = pd.read_csv("Preprocessed ICU data.csv")
y = df["In.hospital_death"].astype(int)   # ensure numeric binary

# --- Define feature groups (adjust patterns to match your columns)
feature_forms = {
    "mean_x": [c for c in df.columns if c.startswith("Mean_") and c.endswith(".x")],
    "mean_y": [c for c in df.columns if c.startswith("Mean_") and c.endswith(".y")],
    "min":    [c for c in df.columns if c.startswith("Min_")],
    "max":    [c for c in df.columns if c.startswith("Max_")],
    "delta":  [c for c in df.columns if c.startswith("Delta_")],  # only if you created them
}

results = {}
feature_importances_all = {}

for form, cols in feature_forms.items():
    # Keep only columns that really exist
    cols = [c for c in cols if c in df.columns]
    if len(cols) == 0:
        print(f"[{form}] skipped: 0 matching columns")
        continue

    X = df[cols].copy()

    # Force numeric (coerce bad strings to NaN)
    X = X.apply(pd.to_numeric, errors='coerce')

    # If everything became NaN/object and dropped, skip
    if X.shape[1] == 0:
        print(f"[{form}] skipped: all columns non-numeric after coercion")
        continue

    # Train/test split
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42, stratify=y
    )

    # Pipeline: impute + RF (handles any NaNs created above)
    clf = make_pipeline(
        SimpleImputer(strategy="median"),
        RandomForestClassifier(n_estimators=200, random_state=42, n_jobs=-1)
    )
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)

    acc = accuracy_score(y_test, y_pred)
    rec = recall_score(y_test, y_pred)
    results[form] = {"Accuracy": acc, "Recall": rec}

    # Get feature importances from the RF inside the pipeline
    rf = clf.named_steps["randomforestclassifier"]
    importances = pd.DataFrame(
        {"feature": X_train.columns, "importance": rf.feature_importances_}
    ).sort_values("importance", ascending=False)
    feature_importances_all[form] = importances

# Summary
print(pd.DataFrame(results).T)

# Example: top 10 for a set that ran (change key as needed)
if "max" in feature_importances_all:
    print(feature_importances_all["max"].head(10))

[delta] skipped: 0 matching columns
        Accuracy    Recall
mean_x  0.684746  0.414414
mean_y  0.708475  0.486486
min     0.752542  0.486486
max     0.762712  0.567568
          feature  importance
38      Max_GCS.y    0.055797
1       Max_GCS.x    0.029869
39       Max_HR.y    0.027793
55      Max_WBC.y    0.024283
48  Max_Glucose.y    0.023063
2        Max_HR.x    0.022010
45    Max_Urine.y    0.021640
63   Max_SysABP.y    0.018749
70  Max_Lactate.y    0.018300
11  Max_Glucose.x    0.018249